header{
    position:relative;
}

.sacola{
    background: url(../img/sacola.png) no-repeat top right;
    font-size:14px;
    padding-right:35px;
    padding-top:8px;
    text-align:right;
    width:140px;
    position:absolute;
    top: 0;
    right: 0;
}

.container{
    margin:0 auto;
    width:940px;
}

.destaque{
    margin-top: 20px;
}

/*Estilizando o botão pause e play*/
.destaque{
    position: relative;
}
.pause,
.play{
    display:block;
    position: absolute;
    right:15px;
    top:15px;
}
.pause{
    border-left:10px solid #900;
    border-right:10px solid #900;
    height:30px;
    width:5px;
}
.play{
    border-left:25px solid #900;
    border-bottom:15px solid transparent;
    border-top:15px solid transparent;
}


.busca input{
    vertical-align:middle;
}

.busca input[type=search]{
    width:170px;
}

.busca,
.menu-departamento{
    background-color: #dcdcdc;
    font-weight:bold;
    text-transform:uppercase;

    margin-right:10px;
    width:230px;

    float:left;
}

.busca h2,
.busca form,
.menu-departamento h2{
    margin:10px;
}

.menu-departamento{
    clear:left;
    text-transform:uppercase;

    margin-top: 10px;
    padding-bottom:10px;
}

.menu-departamento li{
    background-color:white;
    margin-bottom:1px;
    padding:5px 10px;
}

.menu-departamento li ul{ /*Sublista esteja escondida*/
    display:none; /*retira o elemento do layout da página*/
}

.menu-departamento li:hover ul{ /*Quando o usuário passar o mouse*/
    display:block; /*Faz com que o elemento html seja rederizado como um bloco*/
}

.menu-departamento ul ul li{
    background-color:#dcdcdc;
}

.menu-departamento li li a:before{ /*Enjetar um conteúdo novo via propriedade content no CSS*/
    content: '- '; /*Serve para indicar qual conteúdo dinamico que será  inserido*/
}

/*
[A propriedade content tem muitas variações.
 Uma variação simples, mas útil, é usar caracteres unicode para injetar símbolos mais interessantes.]

.menu-departamento li li a:before{
    content: '\272A';
    padding-right: 3px;
}

.painel h2: before{
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}

*/

.menu-departamento a{
    color: #333333;
    text-decoration:none;
}

.menu-opcoes{
    position:absolute;
    bottom:0;
    right:0;
}

.menu-opcoes ul{
    font-size:15px;
}

.menu-opcoes ul li{
    display: inline;
    margin-left:20px;
}

.menu-opcoes a{
    color:#036;
}

.menu-opcoes a:hover{ /*Quando o usuário passar o mouse*/
    color:#007dc6;
}

.menu-opcoes a:action{ /*Quando clicar no item*/
    color:#867dc6;
}

body{
    font-family: 'PT Sans',sans-serif;
    color: #333333;
}


.painel{
    margin:10px 0;
    width:450px;

    border-radius:4px; /* Permite definir as bordas arredondadas*/
    box-shadow:1px 1px 4px  #999; /*Coloca sombra no elemento*/

    box-shadow:inset 1px 1px 4px #999; /*Adiciona sombra interna com elemento com o (inset)*/
}

/*Escondendo o botão por padrão.
Ele só vai ser exibido quando os produtos adicionais estiverem colapsados*/
.painel button{
    display: none;
}

/*Esconder os produtos a mais, e exibir o botão que vai fazer a funcionalidade*/
.painel-compacto li:nth-child(n+7){
    display:none;
}
.painel-compacto button{
    display:block;
}

/*Estilizando o botão de mostrar mais produtos*/
.painel button{
    /*posicionamento*/
    float:right;
    margin-right:10px;
    padding:10px;
    /*estilo*/
    background-color:#333;
    border:0;
    border-radius:4px;
    box-shadow:1px 1px 3px rgba(30,30,30,0.5);
    color:white;
    font-size:1em;
    text-decoration:none;
    text-shadow:1px 0 1px black;
    /*animação*/
    transition:0.3s;
}
.painel button:hover{
    background-color:#393939;
    box-shadow:1px 0 20px rgba(200,200,120,0.9);
}
.painel button{
    color:white;
    position:relative;
    margin-bottom:10px;
}
.painel button:after{
    /*elemento vazio*/
    content:'';
    display:block;
    height:0;
    width:0;

    /*triangulo*/
    border-top:10px solid #333;
    border-left:10px solid transparent;
    border-right:10px solid transparent;

    /*posicionamento*/
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-5px;

    /*animação*/
    transition:0.3s;
}
.painel button:hover:after{
    border-top-color:#393939;
}

/*Fim estilização*/


.painel ol{
    margin-left:-35px;
}

.painel li{
    display:inline-block;
    vertical-align: top;
    width:140px;
    margin:2px;
    padding-bottom:10px;

    transition:0.7s ease-in; /*Animação na volta do elemento para o estado normal*/
}


/*Quando o usuário passar  o mouse em algum produto dos painéis de destaque, mostre uma sombra por trás com box-shadow.*/
.painel li:hover{
    background-color: rgba(255,255,255,0.8);
    box-shadow:0 0 5px #333;
    transition: box-shadow 0.7s;

    /*Quando passar o mouse em cima do elemento, aumentar o elemento em 20%, dando uma espécie de zoom*/
    transform:scale(1.2) rotate(-5deg);
}

/*Faz os elementos ímpares girarem em sentido anti-horário e os pares no sentido horário*/
.painel li:nth-child(2n):hover{
    transform:scale(1.2) rotate(5deg);
}

.painel h2{
    font-family: 'Bad Script', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom:10px;

    text-shadow:3px 3px 2px rgba(255,255,255,0.1); /*Adiciona sombra ao texto com o canal alfa (rgba)*/

}

.painel h2:before{ /*Adiciona o conteúdo visual*/
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}

.painel a{
    color:#333;
    font-size:13px;
    text-align:center;
    text-decoration:none;
}

.painel figcaption{
    width:120px;
}

.novidades{
    background-color:#f5dcdc;

    background:linear-gradient(#f5dcdc, #bebef4); /*Adiciona gradiente*/

    float:left;
}

.mais-vendidos{
    background-color:#dcdcf5;

    background:linear-gradient(#dcdcf5, #f4bebe); /*Adiciona gradiente*/

    float:right;
}

#rodape{
    color:#777;
    text-align: center;
}

footer{
    clear:both;
    position:relative;
    background-image: url(../img/fundo-rodape.png);

    padding:25px 0;
}

footer .container{
    position: relative;
}

img[alt="[Logo Mirror Fashion]"]{
    margin-left:30px;
    margin-top:5px;
}

.social{
    float:right;
    margin-top:9px;
    margin-right:40px;
}

.social li{
    float:left;
    margin-left:20px;
}


.social a{
    /*Tamanho do elemento = imagem*/
    height:30px;
    width:32px;
    /*imagem replace*/
    display:block;
    /*Retirando o texto da frente*/
    text-indent:-9999px;
}

.facebook{
    /*Imagem com fundo*/
    background-image: url(../img/facebook.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.google{
    background-image: url(../img/googleplus.png);
}